<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoluntNear"
        tools:targetApi="31">
        <activity
            android:name=".bene.bene_create"
            android:exported="false" />
        <activity
            android:name=".bene.bene_reqsummary"
            android:exported="false" />
        <activity
            android:name=".volunt_taskdetails"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".bene.bene_request"
            android:exported="false" />
        <activity
            android:name=".volunt.volunt_tasks"
            android:exported="false" />
        <activity
            android:name=".bene.bene_home"
            android:exported="false" />
        <activity
            android:name=".volunt.volunt_home"
            android:exported="false" />
        <activity
            android:name=".volunt.volunt_login"
            android:exported="false" />
        <activity
            android:name=".bene.bene_login"
            android:exported="false" />
        <activity
            android:name=".volunt.volunt_signup"
            android:exported="false" />
        <activity
            android:name=".bene.bene_signup"
            android:exported="false" />
        <activity
            android:name=".role_select"
            android:exported="false" />
        <activity
            android:name=".login_signup"
            android:label="Login/Sign" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNxGrLqZqeskhn646Mjf5jCOfp3b2FVRw"
            />
    </application>

</manifest>